<html>

<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="../layui/css/layui.css" media="all">
    <link href="../layui/font/iconfont.css" rel="stylesheet">
    <link href="../css/formSelects-v4.css" rel="stylesheet">
</head>
<style>
    body {
        background-color: #ffffff;
        padding: 15px;
    }

    .parent {
        display: flex;
        align-items: center;
        width: 50%;
    }

    .child {
        margin-left: 15px;
    }

    .add-subcat {
        display: none;
        padding: 15px;
    }
    .edit2{
     display: none;
     padding: 15px;
    }

    .edit{
     display: none;
     padding: 15px;
    }

    .modal {
        margin-top: 20px;
        width: 80px !important;
        line-height: 35px !important;
        height: 35px !important;
        font-size: 12px;
        padding: 0px !important;
    }

    select {
        height: 35px;
        width: 120px;
    }
</style>

<body>
<div id="container">
	<div class="head">
        <section class="panel panel-padding">
            <form class="layui-form" id="select_role">
                <div class="layui-form">
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <input class="layui-input" v-model="sel_name" placeholder="商家名称">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button lay-submit class="layui-btn" lay-filter="search">查找</button>
                    </div>
                </div>
            </form>
        </section>
    </div>

    <section class="panel panel-padding">
        <div class="group-button">
            <button class="layui-btn layui-btn-small modal">
                <i class="iconfont">&#xe608;</i> 添加
            </button>
        </div>

        <table id="admin_list" class="layui-hide" lay-filter="admins"></table>
    </section>

    <div class="edit2">
        <form  id="message_info2">
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-block">
                <input type="text" v-model="password" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="">立即修改</button>
            </div>
        </div>
            </form>
      </div>


    <div class="add-subcat">
        <form  id="message_info">

            <div class="layui-form-item">
                <label class="layui-form-label">角色选择</label>
                <div class="layui-input-block">
                    <select v-model="isAdmin">
                        <option value ="0">商家</option>
                        <option value="1">管理员</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">所属商家</label>
                <div class="layui-input-block parent">
                    <input type="text" v-model="mer_name" placeholder="商家名称"
                           autocomplete="off" class="layui-input">
                    <button class="layui-btn layui-btn-sm child" @click="seachByLoc">搜索</button>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"></label>
                <div class="layui-input-block">
                    <select v-model="merchantId">
                        <option v-for="item in merchants" :value="item.merchantId">{{item.merchantName}}</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">账号</label>
                <div class="layui-input-block">
                    <input type="text" v-model="username" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-block">
                <input type="text" v-model="password" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
            </div>
        </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="">立即添加</button>
                </div>
            </div>
        </form>
    </div>
</div>
    </body>
<script src="../layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/admin/admin.js?v=1.0.3" type="text/javascript" charset="utf-8"></script>
<script type="text/html" id="operator_item">
    <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="edit"><i class="iconfont">&#xe649;</i>修改密码</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del"><i class="iconfont">&#xe649;</i>删除</a>
</script>
<script type="text/html" id="status">
    <input type="checkbox" value="{{d.discount_id}}" lay-skin="switch" lay-text="启用|禁用" lay-filter="status" {{ d.discount_status ? 'checked' : '' }}>
</script>

</html>