<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/activity/layui/css/layui.css" media="all">
    <link href="/activity/layui/font/iconfont.css" rel="stylesheet">
    <link href="/activity/css/formSelects-v4.css" rel="stylesheet">
</head>
<style>
    body {
        background-color: #ffffff;
        padding: 15px;
    }

    .add-subcat {
        display: none;
        padding: 15px;
    }

    .modal {
        margin-top: 20px;
        width: 80px !important;
        line-height: 35px !important;
        height: 35px !important;
        font-size: 12px;
        padding: 0px !important;
    }
</style>

<body>
    <div id="Message">
        <div class="head">
            <section class="panel panel-padding">
                <form class="layui-form" id="select_role">
                    <div class="layui-form">
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <input class="layui-input" name="sel_name" placeholder="公告名称">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button lay-submit class="layui-btn" lay-filter="search">查找</button>
                        </div>
                    </div>
                </form>
            </section>
        </div>
        <section class="panel panel-padding">
            <div class="group-button">
                <button class="layui-btn layui-btn-small modal">
                    <i class="iconfont">&#xe608;</i> 添加消息
                </button>
            </div>

            <table id="message_list" class="layui-hide" lay-filter="messages"></table>
        </section>
        <div class="add-subcat">
            <form class="layui-form" id="message_info">
                <div class="layui-form-item">
                    <label class="layui-form-label">消息标题</label>
                    <div class="layui-input-block">
                        <input type="text" v-model="title" required lay-verify="required" placeholder="请输入公告标题" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">消息内容</label>
                    <div class="layui-input-block">
                        <textarea v-model="content" required placeholder="请输入公告内容" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit="">立即添加</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
<script src="/activity/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="/activity/js/vue.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/activity/js/admin/lib_msg.js" type="text/javascript" charset="utf-8"></script>
<script type="text/html" id="operator_item">
    <a class="layui-btn layui-btn-xs layui-btn layui-btn-warm" lay-event="edit"><i class="iconfont">&#xe649;</i>编辑</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del"><i class="iconfont">&#xe649;</i>删除</a>
</script>
<script type="text/html" id="status">
    <input type="checkbox" name="is_show" value="{{d._id}}" lay-skin="switch" lay-text="开启|关闭" lay-filter="status" {{ d.state ? 'checked' : '' }}>
  </script>

</html>