body {
    background-color: #ffffff;
    padding: 15px;
}

.add-subcat,
.add-videos {
    display: none;
    padding: 15px;
}

select {
    width: 50%;
    height: 35px;
    margin-top: 6px;
}

.layui-upload-img {
    width: 50%;
    height: 50%;
}

.clear_item {
    margin-top: 15px;
}

.modal {
    margin-top: 20px;
    width: 80px !important;
    line-height: 35px !important;
    height: 35px !important;
    font-size: 12px;
    padding: 0px !important;
}