body {
    background-color: #ffffff;
    padding: 15px;
}

.add-subcat,
.detail-subcat {
    display: none;
    padding: 15px;
}
.bottom{
    margin-bottom: 0;
}
.modal {
    margin-top: 20px;
    width: 100px !important;
    line-height: 35px !important;
    height: 35px !important;
    font-size: 12px;
    padding: 0px !important;
}

img {
    width: 40%;
    height: 100%;
}
.center {
    line-height: 36px;
}