<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/page/layui/css/layui.css" media="all">
    <link href="/page/layui/font/iconfont.css" rel="stylesheet">
    <link href="/page/css/main.css" rel="stylesheet">
</head>
<style>
    .add-activity {
        display: none;
        padding: 15px;
    }

    body {
        padding: 15px;
    }

    .modal {
        margin-top: 15px;
    }

    img {
        width: 120px;
        height: 80px;
    }

</style>
<body>
<div id="container">
    <div class="head">
        <section class="panel panel-padding">
            <form class="layui-form" lay-filter="sel_activity">
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input class="layui-input" name="sel_name" placeholder="活动名称">
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input class="layui-input" name="sel_mobile" placeholder="活动地区">
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input class="layui-input" name="sel_mobile" placeholder="活动城市">
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input class="layui-input" name="sel_mobile" placeholder="酒店名称">
                    </div>
                </div>
                <div class="layui-inline">
                    <button lay-submit class="layui-btn" lay-filter="search">查找</button>
                </div>
            </form>
        </section>
    </div>
    <section class="panel panel-padding">
        <table id="dataView" class="layui-hide" lay-filter="data"></table>
    </section>
   <!-- <div class="add-activity">
        <form class="layui-form" lay-filter="activity_info">
            <div class="layui-form-item">
                <label class="layui-form-label">活动名称</label>
                <div class="layui-input-block">
                    <input type="text" name="activityName" required lay-verify="required" placeholder="请输入手机号" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">活动简介</label>
                <div class="layui-input-block">
                    <input type="text" name="activityIntroduction" required lay-verify="required" placeholder="请输入手机号" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">活动详情</label>
                <div class="layui-input-block">
                    <textarea type="text" name="activityDetails" required lay-verify="required" placeholder="请输入手机号" autocomplete="off" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">参与酒店</label>
                <div class="layui-input-block">
                    <select name="hotalId" lay-filter="hotalId">
                        <option v-for="(hotal, index) in hotals" :value="index">{{hotal.name}}</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item" v-if="chooseHotals.length">
                <div id="grants" class="layui-input-block">
                    <div v-for="(hotal, index) in chooseHotals" @click="delSpec(index)" class="tag tag-selected">
                        <p class="text">{{hotal.name}}</p>
                        <p class="tick-box" style="display: block;">
                            <span class="tick-bg"></span>
                            <i class="layui-icon tick">&#xe605;</i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">封面图</label>
                <div class="layui-input-block">
                    <div class="layui-upload">
                        <button type="button" class="layui-btn layui-btn-sm" id="choose_img">选择图片</button>
                        <div class="layui-upload-list" v-show="img">
                            <img class="layui-upload-img" :src="img">
                            <p>
                                <a class="layui-btn layui-btn-danger layui-btn-xs delete_img" @click="clear">清除</a>
                                <span id="upload_result">{{upload_result}}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="add_activity">立即添加</button>
                </div>
            </div>
        </form>
    </div>-->
</div>
</body>


<script type="text/html" id="operator_item">
    <a class="layui-btn  layui-btn-xs layui-btn-danger" lay-event="delete"><i class="layui-icon">&#x1006;</i>冻结</a>
    <a class="layui-btn  layui-btn-xs layui-btn-danger" lay-event="delete"><i class="layui-icon">&#x1006;</i>核销</a>
    <a class="layui-btn  layui-btn-xs layui-btn-warm" lay-event="query"><i class="layui-icon">&#x1005;</i>查看</a>
</script>

<script src="/page/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="/page/js/vue.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/page/js/admin/Purchase/view.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>

</body>
</html>